USE [EDSS]
GO
/****** Object:  StoredProcedure [dbo].[EDSS_SDM_VOIDS_V4_SP]    Script Date: 1/26/2021 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[EDSS_SDM_VOIDS_V4_SP]
	 
AS
BEGIN
BEGIN try
BEGIN -- region declaration
DECLARE @MAX_date datetime,
@GetDay int =0,
	  @query nvarchar(max);
	  set @GetDay = (SELECT [No_Days] FROM [Config_db].[dbo].[Decremental_Day_SP_Table] where ID =10);
set @MAX_date  = DATEADD(day , @GetDay*(-1) ,(select  max([DOB]) from EDSS_SDM_VOIDS_V4_TBL)) ;

select * into #CR_STORE  FROM [192.168.0.5].[EDSS].[dbo].[CR_STORE];
CREATE NONCLUSTERED INDEX IX_12 ON #CR_STORE (STR_NO,STR_BRAND);


select * into #CR_EMPLOYEE  FROM [192.168.0.5].[EDSS].[dbo].[CR_EMPLOYEE];
CREATE NONCLUSTERED INDEX IX_11 ON #CR_EMPLOYEE ([EMP_BRAND],[EMP_ID]);

select * into #SDMStores  FROM [192.168.200.12].[SDM].[dbo].[SDMStores];
CREATE NONCLUSTERED INDEX IX_13 ON #SDMStores (StoreNumber);

select * into #CR_TDRTYPE from [192.168.0.5].[EDSS].[dbo].[CR_TDRTYPE]
CREATE NONCLUSTERED INDEX IX_13 ON #CR_TDRTYPE (TDRT_BRAND,TDRT_ID);


CREATE TABLE #EDSS_SDM_VOIDS_V4_TBL(
[IN_EDSS] varchar(3) null
,[STORE_ID] int null
,[COMPANY] int null
,[BRAND] int null
,[STORE_NAME] nvarchar(50) null
,[DOB] datetime null
,[CHECK_ID] int null
,[EDSS_VOID_AMOUNT] float null
,[VD_ITEM] int null
,[ITEM_NAME] nvarchar(25) null
,[PAYMENT_METHOD] nvarchar(20) null
,[SDM_FIRST_AMOUNT] float null
,[COMPLETELY VOIDED?] varchar(3) null
,[VOID_REASON_ID] int null
,[VOID_REASON] nvarchar(15) null
,[SDM_LAST_AMOUNT] float null
,[AMOUNT_MISMATCH_REASON] varchar(44) null
,[ORDER_TYPE] varchar(22) null
,[SDM_CUSTOM_VOID_REASON] varchar(71) null
,[EMPLOYEE] nvarchar(84) null
,[SDM_OPEN_TIME] datetime null
,[EDSS_VOID_TIME] varchar(41) null
,[SDM_VOID_TIME] datetime null
,[VD_HOUR] smallint null
,[VD_MINUTE] smallint null
,[CUSTOMER_NAME] varchar(101) null
,[CUSTOMER_PHONE_NUMBER] varchar(51) null
,[STORE_FRIENDLY_NAME] varchar(100) null
,[STORE_CITY_NAME] varchar(100) null
,[STORE_LATITUDE] varchar(100) null
,[STORE_LONGITUDE] varchar(100) null
,[STORE_LOCATION] varchar(201) null
,[SDM_ORDER_ID] numeric null
,[ORDER_SOURCE] varchar(100) null
,[SDM_ORDER_SOURCE] numeric null
,[SDM_ORDER_STATUS] varchar(100) null
,[SYSTEM_USER_ORDER_ID] varchar(1000) null
,[STORE_OPENING_DATE] datetime null
,[Region] varchar(50) null
)
set @query = 'SELECT 
''YES'' IN_EDSS,
VD_STR_ID STORE_ID,
STR_COMPANY AS COMPANY,
STR_BRAND AS BRAND,
STR_NAME AS STORE_NAME,
VD_DATE DOB,
VD_CHECK CHECK_ID,
VOID_AMOUNT EDSS_VOID_AMOUNT,
VD_ITEM,
ITEM_NAME,

CASE when convert(char(32),VD_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN 
(CASE WHEN SDM_ORDER_SOURCE = 1 AND (ORDR_PAYMENTMOTHOD IS NOT NULL) THEN ''CALLCENTER'' 
ELSE (SELECT TDRT_NAME FROM #CR_TDRTYPE
WHERE TDRT_BRAND = 1 AND TDRT_ID = (CASE WHEN ORDR_PAYMENTMOTHOD IS NULL AND SDM_ORDER_SOURCE =5 THEN 26 WHEN ((ORDR_PAYMENTMOTHOD IS NULL) OR (ORDR_PAYMENTMOTHOD=''Online'')) AND SDM_ORDER_SOURCE =2 THEN 21 
WHEN SDM_ORDER_SOURCE = 1 AND (ORDR_PAYMENTMOTHOD IS NULL) AND (( SELECT TOP 1 NT_ORDERID FROM [192.168.200.12].[SDM].[dbo].CC_HIST_ORDER_NOTE WHERE SDM_ORDER_ID = NT_ORDERID AND NT_FREE_TEXT like ''%HS_Order_ID%'') IS NOT NULL ) THEN 26
ELSE (SELECT case when PAY_STORE_TENDERID = 8 then PAY_SUB_TYPE else PAY_STORE_TENDERID end  FROM [192.168.200.12].[SDM].[dbo].CC_HIST_ORDER_PAYMENT WHERE PAY_ORDRID = SDM_ORDER_ID) END)) END) ELSE '''' END AS [PAYMENT_METHOD],

CASE WHEN convert(char(32),VD_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN SDM_FIRST_AMOUNT ELSE VOID_AMOUNT END AS ''SDM_FIRST_AMOUNT'',
[COMPLETELY_VOIDED]  AS [COMPLETELY VOIDED?],
[VD_REASON] VOID_REASON_ID,
ISNULL(VOID_REASON,''Unknown'') VOID_REASON,
CASE WHEN convert(char(32),VD_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN SDM_LAST_AMOUNT ELSE VOID_AMOUNT END AS ''SDM_LAST_AMOUNT'',

CASE WHEN convert(char(32),VD_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN
(CASE WHEN SDM_FIRST_AMOUNT > SDM_LAST_AMOUNT THEN ''SOME ITEMS MIGHT BE VOIDED OR PRICE MISMATCH''
WHEN SDM_FIRST_AMOUNT < SDM_LAST_AMOUNT THEN ''SOME ITEMS MIGHT BE ADDED OR PRICE MISMATCH''
ELSE ''Equal'' END) ELSE '''' END AS [AMOUNT_MISMATCH_REASON],
CASE when convert(char(32),VD_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL 
THEN ''EDSS & SDM'' WHEN  convert(char(32),VD_CHECK) like ''8%'' AND ORDER_SOURCE IS NULL THEN ''EDSS ONLY- THROUGH SDM'' ELSE ''EDSS-MANUALLY'' END AS ORDER_TYPE,
CASE WHEN convert(char(32),VD_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN
(CASE WHEN ODR.STORE_NUM is null OR ODR.STORE_NUM=''''  THEN ''NO STORE WAS SPECIFIED''
WHEN ODR.ALOHA_CHECKNO =0 AND odr.ORDR_REMARKS LIKE ''%This order is FORCECANCEL from callcenter, It will not appear in store%'' THEN ''CANCELED BY HS B4 SENDING TO STORE''
WHEN odr.ALOHA_CHECKNO=0 AND odr.ORDR_REMARKS NOT LIKE ''%This order is FORCECANCEL from callcenter, It will not appear in store%'' THEN  ''FAILED TO BE SENT TO THE STORE (ORDER STATUS WAS STILL INITIAL OR OPEN)'' 
WHEN odr.SDM_ORDR_DOB != odr.SDM_ORDR_STORE_DOB AND VOID_REASON IS NOT NULL AND ORDR_STATUS=512 AND odr.ORDR_REMARKS NOT LIKE ''%Order is canceled from store%'' THEN ''COULD BE CANCELED BY THE SDK(HS) & SDM DOB != STORE DOB''
WHEN odr.SDM_ORDR_DOB != odr.SDM_ORDR_STORE_DOB AND ORDR_STATUS=512 AND (VOID_REASON IS NOT NULL OR odr.ORDR_REMARKS LIKE ''%Order is canceled from store%'')  THEN ''CANCELED BY THE STORE & SDM DOB != STORE DOB''
WHEN odr.SDM_ORDR_DOB != odr.SDM_ORDR_STORE_DOB AND VOID_REASON IS NOT NULL AND ORDR_STATUS=8192 THEN ''CANCELED BY THE STORE/HS & SDM DOB != STORE DOB''
WHEN odr.SDM_ORDR_DOB != odr.SDM_ORDR_STORE_DOB THEN ''SDM DOB != STORE DOB''
WHEN ORDR_STATUS=512 AND (VOID_REASON IS NULL OR odr.ORDR_REMARKS NOT LIKE ''%Order is canceled from store%'')  THEN  ''COULD BE CANCELED BY SDK (HS)''
WHEN VOID_REASON IS NOT NULL AND ORDR_STATUS=512 THEN  ''CANCELED BY THE STORE''
WHEN VOID_REASON IS NOT NULL AND ORDR_STATUS=8192 THEN  ''CANCELED BY THE STORE/HS''
WHEN VOID_REASON IS NULL AND ORDR_STATUS=8192 AND odr.ALOHA_CHECKNO!=0  THEN  ''COULD NOT BE APPLIED IN THE POS (ORDER STATUS WAS STILL OPEN)''
WHEN VOID_REASON IS NULL AND ORDR_STATUS=8192 THEN  ''FORCE CANCELED BY IT DUE TO OTHER REASON''
ELSE ''UNKNOWN''
END) ELSE '''' END AS [SDM_CUSTOM_VOID_REASON],
(CONCAT(EMPLOYEE,''-'',CONCAT(RTRIM(LTRIM(FIRSTNAME)),'' '',RTRIM(LTRIM(LASTNAME))))) AS [EMPLOYEE],

isnull(SDM_OPEN_TIME,CREATION_TIME) SDM_OPEN_TIME,
VOID_TIME AS EDSS_VOID_TIME,
isnull(SDM_CLOSE_TIME,'''') SDM_VOID_TIME,
VD_HOUR,
VD_MINUTE,
isnull((odr.Customer_Name),'''') AS CUSTOMER_NAME,
isnull((odr.Customer_Mobile),'''') AS CUSTOMER_PHONE_NUMBER,
isnull((stores.Entry),STR_NAME) AS STORE_FRIENDLY_NAME,
isnull((stores.CityName),'''') AS STORE_CITY_NAME,
isnull((stores.Latitude),'''') AS STORE_LATITUDE,
isnull((stores.Longitude),'''') AS  STORE_LONGITUDE,
isnull((stores.Longitude + '','' + stores.Latitude),'''') AS  STORE_LOCATION,
ISNULL((SDM_ORDER_ID),0) AS SDM_ORDER_ID,
ISNULL((ORDER_SOURCE),'''') AS ORDER_SOURCE,
ISNULL((SDM_ORDER_SOURCE),0) AS SDM_ORDER_SOURCE,
ISNULL((STATUS_NAME),'''') AS SDM_ORDER_STATUS,
ISNULL((SYSTEM_USER_ORDER_ID),'''') AS SYSTEM_USER_ORDER_ID,
(STR_OPENING_DATE)  as STORE_OPENING_DATE,
ISNULL((ProvinceName),'''') AS Region
FROM [dbo].[EDSS_VOIDS_SUMMARY_TBL] GND
LEFT JOIN #CR_STORE ON STR_NO = VD_STR_ID AND VD_BRAND = STR_BRAND  and 1=1
LEFT JOIN #CR_EMPLOYEE ON VD_BRAND= [EMP_BRAND] AND [EMP_ID]=EMPLOYEE 
LEFT JOIN #SDMStores stores ON stores.StoreNumber = GND.VD_STR_ID
LEFT JOIN (select *,row_number() over(partition by SDM_DOB,STORE_NUM,ALOHA_CHECKNO order by [SDM_ORDER_ID] desc) as rn 
from  [SDM].[dbo].[ALL_SDM_HIST_ORDERS]) odr ON odr.SDM_DOB = VD_DATE AND ODR.STORE_NUM = GND.VD_STR_ID AND odr.ALOHA_CHECKNO = VD_CHECK AND rn = 1

WHERE  VD_STR_ID NOT IN (999,9999) and STR_NAME is not null';
END

if (select count(1) from EDSS_SDM_VOIDS_V4_TBL) > 0
BEGIN
set @query = CONCAT('insert into #EDSS_SDM_VOIDS_V4_TBL  ',REPLACE(@query, '1=1',CONCAT( ' VD_DATE > ''', @MAX_date,''' ')));
EXECUTE ( @query);

MERGE EDSS_SDM_VOIDS_V4_TBL AS T
USING #EDSS_SDM_VOIDS_V4_TBL AS S
ON (     T.[STORE_ID]=S.[STORE_ID]
AND T.[DOB]=S.[DOB]
AND T.[CHECK_ID]=S.[CHECK_ID]
AND T.[VD_ITEM]=S.[VD_ITEM]
AND T.[VOID_REASON_ID]=S.[VOID_REASON_ID]
AND T.[SYSTEM_USER_ORDER_ID]=S.[SYSTEM_USER_ORDER_ID] )
WHEN MATCHED 
   THEN UPDATE 
   SET T.[IN_EDSS]=S.[IN_EDSS]
,T.[COMPANY]=S.[COMPANY]
,T.[BRAND]=S.[BRAND]
,T.[STORE_NAME]=S.[STORE_NAME]
,T.[EDSS_VOID_AMOUNT]=S.[EDSS_VOID_AMOUNT]
,T.[ITEM_NAME]=S.[ITEM_NAME]
,T.[PAYMENT_METHOD]=S.[PAYMENT_METHOD]
,T.[SDM_FIRST_AMOUNT]=S.[SDM_FIRST_AMOUNT]
,T.[COMPLETELY VOIDED?]=S.[COMPLETELY VOIDED?]
,T.[VOID_REASON]=S.[VOID_REASON]
,T.[SDM_LAST_AMOUNT]=S.[SDM_LAST_AMOUNT]
,T.[AMOUNT_MISMATCH_REASON]=S.[AMOUNT_MISMATCH_REASON]
,T.[ORDER_TYPE]=S.[ORDER_TYPE]
,T.[SDM_CUSTOM_VOID_REASON]=S.[SDM_CUSTOM_VOID_REASON]
,T.[EMPLOYEE]=S.[EMPLOYEE]
,T.[SDM_OPEN_TIME]=S.[SDM_OPEN_TIME]
,T.[EDSS_VOID_TIME]=S.[EDSS_VOID_TIME]
,T.[SDM_VOID_TIME]=S.[SDM_VOID_TIME]
,T.[VD_HOUR]=S.[VD_HOUR]
,T.[VD_MINUTE]=S.[VD_MINUTE]
,T.[CUSTOMER_NAME]=S.[CUSTOMER_NAME]
,T.[CUSTOMER_PHONE_NUMBER]=S.[CUSTOMER_PHONE_NUMBER]
,T.[STORE_FRIENDLY_NAME]=S.[STORE_FRIENDLY_NAME]
,T.[STORE_CITY_NAME]=S.[STORE_CITY_NAME]
,T.[STORE_LATITUDE]=S.[STORE_LATITUDE]
,T.[STORE_LONGITUDE]=S.[STORE_LONGITUDE]
,T.[STORE_LOCATION]=S.[STORE_LOCATION]
,T.[SDM_ORDER_ID]=S.[SDM_ORDER_ID]
,T.[ORDER_SOURCE]=S.[ORDER_SOURCE]
,T.[SDM_ORDER_SOURCE]=S.[SDM_ORDER_SOURCE]
,T.[SDM_ORDER_STATUS]=S.[SDM_ORDER_STATUS]
,T.[STORE_OPENING_DATE]=S.[STORE_OPENING_DATE]
,T.[Region]=S.[Region]
WHEN NOT MATCHED 
   THEN INSERT values (
      S.[IN_EDSS]
,S.[STORE_ID]
,S.[COMPANY]
,S.[BRAND]
,S.[STORE_NAME]
,S.[DOB]
,S.[CHECK_ID]
,S.[EDSS_VOID_AMOUNT]
,S.[VD_ITEM]
,S.[ITEM_NAME]
,S.[PAYMENT_METHOD]
,S.[SDM_FIRST_AMOUNT]
,S.[COMPLETELY VOIDED?]
,S.[VOID_REASON_ID]
,S.[VOID_REASON]
,S.[SDM_LAST_AMOUNT]
,S.[AMOUNT_MISMATCH_REASON]
,S.[ORDER_TYPE]
,S.[SDM_CUSTOM_VOID_REASON]
,S.[EMPLOYEE]
,S.[SDM_OPEN_TIME]
,S.[EDSS_VOID_TIME]
,S.[SDM_VOID_TIME]
,S.[VD_HOUR]
,S.[VD_MINUTE]
,S.[CUSTOMER_NAME]
,S.[CUSTOMER_PHONE_NUMBER]
,S.[STORE_FRIENDLY_NAME]
,S.[STORE_CITY_NAME]
,S.[STORE_LATITUDE]
,S.[STORE_LONGITUDE]
,S.[STORE_LOCATION]
,S.[SDM_ORDER_ID]
,S.[ORDER_SOURCE]
,S.[SDM_ORDER_SOURCE]
,S.[SDM_ORDER_STATUS]
,S.[SYSTEM_USER_ORDER_ID]
,S.[STORE_OPENING_DATE]
,S.[Region]);

END
else
BEGIN -- Insert data IN
set @query = CONCAT('insert into EDSS_SDM_VOIDS_V4_TBL  ',@query);
EXECUTE ( @query);
END

END try
BEGIN CATCH
INSERT INTO [Config_db].[dbo].[ERROR_LOG]
           ([DATE]
           ,[ERROR_NUMBER]
           ,[ERROR_STATE]
           ,[ERROR_SEVERITY]
           ,[ERROR_LINE]
           ,[ERROR_PROCEDURE]
           ,[ERROR_MESSAGE]
           ,[SP_NAME])
     VALUES
           (getdate()
           ,ERROR_NUMBER()
           ,ERROR_STATE()
           ,ERROR_SEVERITY()
           ,ERROR_LINE()
           ,ERROR_PROCEDURE()
           ,ERROR_MESSAGE()
           ,OBJECT_NAME(@@PROCID))
select * from [GOTO_ERROR_LOG_TABLE_IN_Config_db]
END CATCH

END


