USE [EDSS]
GO
/****** Object:  StoredProcedure [dbo].[EDSS_SDM_PRODUCT_MIX_TBL_SP]    Script Date: 1/26/2021 1:34:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[EDSS_SDM_PRODUCT_MIX_TBL_SP] 	
	
AS
BEGIN
BEGIN try

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
BEGIN -- region declaration
    DECLARE @MAX_date nvarchar(20),
	@GetDay int = 0,
	  @query nvarchar(max);

SELECT CIT_ITEMID into #CR_CIT FROM  [192.168.0.5].[EDSS].[dbo].CR_CIT WHERE CIT_CATID=90 AND CIT_ITEMID !=90063 and CIT_BRAND=1
select * into #CR_MENUITEM from [192.168.0.5].[EDSS].[dbo].CR_MENUITEM
CREATE NONCLUSTERED INDEX IX_1 ON #CR_MENUITEM (MI_ID,MI_BRAND);

SELECT DISTINCT ModifierId into #AddonsModifiers FROM [192.168.0.5].[PMA].[dbo].[AddonsModifiers]
CREATE NONCLUSTERED INDEX IX_2 ON #AddonsModifiers (ModifierId);

select * into #CR_STORE from [192.168.0.5].[EDSS].[dbo].CR_STORE
CREATE NONCLUSTERED INDEX IX_3 ON #CR_STORE (STR_NO,STR_BRAND);

select * into #MENU_ITEMS_TYPES from  [192.168.0.5].[PMA].[dbo].[MENU_ITEMS_TYPES]
CREATE NONCLUSTERED INDEX IX_4 ON #MENU_ITEMS_TYPES (ITEM_ID)

select * into #CR_ORDER_MODE from  [192.168.0.5].[EDSS].[dbo].[CR_ORDER_MODE]
CREATE NONCLUSTERED INDEX IX_5 ON #CR_ORDER_MODE ([ORD_ID],ORD_BRAND)

select * into #CR_PERIOD from  [192.168.0.5].[EDSS].[dbo].[CR_PERIOD]
CREATE NONCLUSTERED INDEX IX_6 ON #CR_PERIOD (PRD_ID,PRD_BRAND)

select * into #SDMStores from  [192.168.200.12].[SDM].[dbo].[SDMStores]
CREATE NONCLUSTERED INDEX IX_7 ON #SDMStores (StoreNumber)

select * into #Time_24_To_12 from [192.168.0.5].[PMA].[dbo].[Time_24_To_12]
CREATE NONCLUSTERED INDEX IX_1 ON #Time_24_To_12 (TIME1);

CREATE TABLE #EDSS_SDM_ProducT_Mix_TBL_STAG(
	[BRAND] [int] NOT NULL,
	[ENTRYID] [int] NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[STORE_NAME] [nvarchar](50) NULL,
	[DOB] [datetime] NOT NULL,
	[ORDER_TIME] [smallint] NULL,
	[ORDER_TIME (12_HOURS_SYSTEM)] [nchar](10) NULL,
	[ORDER_MODE] [nvarchar](100) NULL,
	[ORDER_TYPE] [varchar](4) NOT NULL,
	[PRODUCT_CATEGORY] [nvarchar](100) NULL,
	[PRODUCT_ID] [int] NULL,
	[MODIFIER_ITEM_ID] [int] NULL,
	[MODIFIER_ITEM_NAME] [nvarchar](35) NULL,
	[PRODUCT_NAME] [nvarchar](54) NULL,
	[BASE_QUANTITY] [float] NULL,
	[ACTUAL_QUANTITY] [float] NULL,
	[BASE_PRICE] [float] NULL,
	[BASE_NET_PRICE] [float] NULL,
	[VAT] [float] NULL,
	[ACTUAL_PRICE] [float] NULL,
	[TOTAL] [float] NULL,
	[NET_TOTAL] [float] NULL,
	[TRANSACTION] [int] NULL,
	[CHECK_ID] [int] NULL,
	[LAST_DOB] [datetime] NULL,
	[TOTAL_ACTUAL_IDEAL_COST] [float] NULL,
	[CUSTOMER_NAME] [varchar](101) NOT NULL,
	[CUSTOMER_PHONE_NUMBER] [varchar](51) NOT NULL,
	[STORE_FRIENDLY_NAME] [varchar](100) NOT NULL,
	[STORE_CITY_NAME] [varchar](100) NOT NULL,
	[STORE_LATITUDE] [varchar](100) NOT NULL,
	[STORE_LONGITUDE] [varchar](100) NOT NULL,
	[STORE_LOCATION] [varchar](201) NOT NULL,
	[SDM_ORDER_ID] [numeric](20, 0) NOT NULL,
	[SDM_ORDER_STATUS] [varchar](100) NOT NULL,
	[SYSTEM_USER_ORDER_ID] [varchar](1000) NOT NULL,
	[STORE_OPENING_DATE] [datetime] NULL,
	[Region] [varchar](50) NOT NULL,
	[CHANNEL] [varchar](8) NOT NULL
)

END

BEGIN -- region assignment
set @GetDay = (SELECT [No_Days] FROM [Config_db].[dbo].[Decremental_Day_SP_Table] where ID =4);
    set @MAX_date  =  DATEADD(day , @GetDay*(-1) , (select  max(DOB) from EDSS_SDM_ProducT_Mix_TBL)) ;

	set @query =' Select 
BRAND,
ENTRYID,
UNIT STORE_ID,
STRd.STR_NAME STORE_NAME,
DOB,
HOUR As [ORDER_TIME],
(SELECT TIME2 FROM #Time_24_To_12 WHERE TIME1=HOUR) AS [ORDER_TIME (12_HOURS_SYSTEM)],
CASE WHEN convert(char(32),CHECKID) like ''8%'' AND MAX(ORDER_SOURCE) IS NOT NULL
THEN LTRIM(RTRIM(isnull(MAX(ORDER_SOURCE),ORD_NAME))) COLLATE SQL_Latin1_General_CP1_CI_AS
WHEN ORD_ID in (8,13,16,17) THEN ''HungerStation''
WHEN ORD_ID in (10,11) THEN ''Wassel'' 
WHEN ORD_ID IN (15) THEN ''Ubereats''
WHEN ORD_ID =9 THEN ''Jahez''

ELSE 
LTRIM(RTRIM(ORD_NAME ))
END as ''ORDER_MODE'',
CASE WHEN convert(char(32),CHECKID) like ''8%''
THEN ''SDM''
ELSE
''EDSS''
END AS ORDER_TYPE,

CASE WHEN MAX(ORIGIN) IN (SELECT * from #AddonsModifiers) THEN ''ADD-ONS''
ELSE MAX(MIT.[CATEGORY]) END As [PRODUCT_CATEGORY],



CASE 
WHEN (MAX(ORIGIN) IN (SELECT * from #AddonsModifiers)) OR Parent =0 OR Parent IN (140053,140052,130084,130083,130071,130115,130131,130132,130116,130117,130072,130073,130074,130079,130080,130081,10042,10046, 10049,10091,10092,10086,10104,10087, 10050,10053,10054,10055,10056, 10035,140003,140073,140074,140029, 140004,140030, 140011,140031, 140012,140032,40069,40070 ) THEN ITEM 

ELSE Parent END AS ''PRODUCT_ID'',
ITEM As ''MODIFIER_ITEM_ID'',
CASE WHEN ITEM = 90142 THEN ''COOKIES SMALL PROMO''
WHEN ITEM = 90141 THEN ''COOKIES LARGE PROMO''
ELSE MI_LONGNAME END As ''MODIFIER_ITEM_NAME'',

CASE
WHEN DOB <= ''2020-06-30'' AND ITEM=20082 THEN ''Arabo Meal               ''
WHEN DOB <= ''2020-06-30'' AND ITEM=20134 THEN ''Arabo Meal Double        ''
WHEN ((MAX(ORIGIN) IN (SELECT * from #AddonsModifiers)) AND Parent NOT IN (40069,40070)) THEN  CONCAT( ''Add-Ons: '', RTRIM(LTRIM(MI_LONGNAME)))
WHEN Parent IN (140053,140052,130084,130083,130071,130115,130131,130132,130116,130117,130072,130073,130074,130079,130080,130081,10042,10046,10049,10091,10092,10086,10104,10087,10050,10053,10054,10055,10056, 10035,40069,40070) AND ITEM LIKE ''9%''
THEN CONCAT(RTRIM(LTRIM(MI_LONGNAME)), '' - WHITH MEAL'')

WHEN PARENT =10104 THEN CONCAT(RTRIM(LTRIM(''Staff Meal Offer - '')), MI_LONGNAME)
WHEN Parent =0 or Parent IN (140053,140052,130084,130083,130071,130115,130131,130132,130116,130117,130072,130073,130074,130079,130080,130081,10042,10046,10049,10091,10092,10086,10104,10087,10050,10053,10054,10055,10056, 10035,140003,140073,140074,140029, 140004,140030, 140011,140031, 140012,140032,40069,40070) THEN MI_LONGNAME 
WHEN ITEM=140070 THEN ''Lunch meal - Althaybah''
ELSE (SELECT TOP 1 MI_LONGNAME FROM #CR_MENUITEM WHERE Parent= MI_ID)
END AS ''PRODUCT_NAME'',

CASE WHEN (MAX(ORIGIN) IN (SELECT * from #AddonsModifiers)) OR Parent IN (140053,140052,130084,130083,130071,130115,130131,130132,130116,130117,130072,130073,130074,130079,130080,130081,10042,10046,10049,10091,10092,10086,10104,10087,10050,10053,10054,10055,10056, 10035,140003,140073,140074,140029, 140004,140030, 140011,140031, 140012,140032,40069,40070) THEN SUM(QUANTITY)
WHEN Parent NOT IN (0,140053,140052,130084,130083,130071,130115,130131,130132,130116,130117,130072,130073,130074,130079,130080,130081,10042,10046,10049,10091,10092,10086,10104,10087,10050,10053,10054,10055,10056, 10035,140003,140073,140074,140029, 140004,140030, 140011,140031, 140012,140032,40069,40070)  THEN 0 
ELSE SUM(QUANTITY) END AS BASE_QUANTITY,


SUM(QUANTITY) AS ACTUAL_QUANTITY,
MAX(BASE_PRICE) AS BASE_PRICE ,

CASE WHEN DOB > ''2020-06-30'' THEN 
    MAX(BASE_PRICE - (round(((BASE_PRICE/1.15)*0.15),2))) 
    WHEN YEAR(DOB) > 2017 THEN 
    MAX(BASE_PRICE -(round(((BASE_PRICE/1.05)*0.05),2))) 
    ELSE MAX(BASE_PRICE)
    END AS BASE_NET_PRICE,


SUM(INCLTAX) AS VAT,
SUM(Price) AS ACTUAL_PRICE,
SUM(DISCPRIC) AS TOTAL,
SUM(DISCPRIC - INCLTAX) AS NET_TOTAL,

CASE WHEN Parent NOT IN (0,140053,140052,130084,130083,130071,130131,130132,130115,130116,130117,130072,130073,130074,130079,130080,130081,10042,10046,10049,10091,10092,10086,10104,10087,10050,10053,10054,10055,10056, 10035,140003,140073,140074,140029, 140004,140030, 140011,140031, 140012,140032,40069,40070) THEN 0
ELSE count(distinct CHECKID) END AS [TRANSACTION],

 CHECKID CHECK_ID, 
max(DOB) LAST_DOB,

((case when ORD_ID not in (5,1,3) then
((SUM(RECIPIES_COST)+ SUM(TAKE_OUT_COST))) else 0 end) +
(case when ORD_ID in (5,1,3 ) then
((SUM(RECIPIES_COST)+ SUM(DineIn_COST))) else 0 end)) AS TOTAL_ACTUAL_IDEAL_COST,

isnull(max(odr.Customer_Name),'''') AS CUSTOMER_NAME,
isnull(max(odr.Customer_Mobile),'''') AS CUSTOMER_PHONE_NUMBER,
isnull(max(sto.Entry),'''') AS STORE_FRIENDLY_NAME,
isnull(max(sto.CityName),'''') AS STORE_CITY_NAME,
isnull(max(sto.Latitude),'''') AS STORE_LATITUDE,
isnull(max(sto.Longitude),'''') AS  STORE_LONGITUDE,
isnull(max(sto.Longitude + '','' + sto.Latitude),'''') AS  STORE_LOCATION,
ISNULL(MAX(SDM_ORDER_ID),0) AS SDM_ORDER_ID,
ISNULL(MAX(STATUS_NAME),'''') AS SDM_ORDER_STATUS,
ISNULL(MAX(SYSTEM_USER_ORDER_ID),'''') AS SYSTEM_USER_ORDER_ID,
MAX(STR_OPENING_DATE)  as STORE_OPENING_DATE,
ISNULL(MAX(ProvinceName),'''') AS Region,
CASE WHEN ORD_ID in (1,2,3,4,5,12,18) THEN ''IN-STORE''
ELSE ''DELIVERY'' END AS CHANNEL

from GNDITEM_CUSTOM_VIEW_TBL AS GT
inner join #CR_MENUITEM ME on ME.MI_ID=GT.ITEM AND ME.MI_BRAND=GT.BRAND AND 1=1
inner join #CR_STORE STRd on  STRd.STR_NO= GT.UNIT AND ME.MI_BRAND=STRd.STR_BRAND
LEFT JOIN #MENU_ITEMS_TYPES AS MIT On (CASE WHEN Parent =0 THEN ITEM ELSE Parent END) = MIT.ITEM_ID
INNER JOIN #CR_ORDER_MODE AS B ON GT.MODEID=B.[ORD_ID] AND B.ORD_BRAND=GT.BRAND
INNER JOIN #CR_PERIOD AS C ON GT.[PERIOD]=C.PRD_ID AND GT.BRAND=C.PRD_BRAND 
LEFT JOIN #SDMStores sto ON sto.StoreNumber = UNIT
LEFT JOIN (select *,row_number() over(partition by SDM_DOB,STORE_NUM,ALOHA_CHECKNO order by [SDM_ORDER_ID] desc) as rn 
  from  [SDM].[dbo].[ALL_SDM_HIST_ORDERS]) odr ON odr.SDM_DOB = DOB AND ODR.STORE_NUM = GT.UNIT AND odr.ALOHA_CHECKNO = CHECKID AND rn = 1

WHERE  
 ITEM NOT IN (select CIT_ITEMID from #CR_CIT)
AND MODEID !=3 AND ITEM NOT IN ( 70001,70002, 140053,140052,130084,130083,130071,130115,130131,130132,130116,130117,130072,130073,130074,130079,130080,130081,10042,10046,10049,10091,10092,10086,10104,10087,10050,10053,10054,10055,10056, 10035,140003,140073,140074,140029, 140004,140030, 140011,140031, 140012,140032,90132,40069,40070 ) AND PARENT NOT IN (70001,70002)
GROUP BY 
GT.BRAND,
UNIT,
STRd.STR_NAME,
DOB,
Hour,
ORD_NAME,
CHECKID,
ENTRYID,
Parent ,
ITEM,
MI_LONGNAME,
ORD_ID '
;
END
--if @SourceTblDate <> @MAX_date
if (select count(1) from EDSS_SDM_ProducT_Mix_TBL) > 0
BEGIN
set @query = CONCAT('INSERT INTO #EDSS_SDM_ProducT_Mix_TBL_STAG ',REPLACE(@query, '1=1',CONCAT( ' [DOB] > ''', @MAX_date,''' ')));
EXECUTE ( @query);

MERGE EDSS_SDM_ProducT_Mix_TBL AS T
USING (select distinct * from #EDSS_SDM_ProducT_Mix_TBL_STAG) AS S
ON (T.[BRAND] = S.[BRAND]
AND S.STORE_ID = T.STORE_ID
AND S.DOB = T.DOB
AND T.[CHECK_ID]= S.[CHECK_ID]
AND S.ENTRYID = T.ENTRYID)
WHEN MATCHED 
   THEN UPDATE 
   SET T.[STORE_NAME]           = S.[STORE_NAME]
           ,T.[ORDER_TIME]           = S.[ORDER_TIME]
           ,T.[ORDER_TIME (12_HOURS_SYSTEM)]           = S.[ORDER_TIME (12_HOURS_SYSTEM)]
           ,T.[ORDER_MODE]           = S.[ORDER_MODE]
           ,T.[ORDER_TYPE]           = S.[ORDER_TYPE]
           ,T.[PRODUCT_CATEGORY]           = S.[PRODUCT_CATEGORY]
           ,T.[PRODUCT_ID]           = S.[PRODUCT_ID]
           ,T.[MODIFIER_ITEM_ID]           = S.[MODIFIER_ITEM_ID]
           ,T.[MODIFIER_ITEM_NAME]           = S.[MODIFIER_ITEM_NAME]
           ,T.[PRODUCT_NAME]           = S.[PRODUCT_NAME]
           ,T.[BASE_QUANTITY]           = S.[BASE_QUANTITY]
           ,T.[ACTUAL_QUANTITY]           = S.[ACTUAL_QUANTITY]
           ,T.[BASE_PRICE]           = S.[BASE_PRICE]
           ,T.[BASE_NET_PRICE]           = S.[BASE_NET_PRICE]
           ,T.[VAT]           = S.[VAT]
           ,T.[ACTUAL_PRICE]           = S.[ACTUAL_PRICE]
           ,T.[TOTAL]           = S.[TOTAL]
           ,T.[NET_TOTAL]           = S.[NET_TOTAL]
           ,T.[TRANSACTION]           = S.[TRANSACTION]
           ,T.[LAST_DOB]           = S.[LAST_DOB]
           ,T.[TOTAL_ACTUAL_IDEAL_COST]           = S.[TOTAL_ACTUAL_IDEAL_COST]
           ,T.[CUSTOMER_NAME]           = S.[CUSTOMER_NAME]
           ,T.[CUSTOMER_PHONE_NUMBER]           = S.[CUSTOMER_PHONE_NUMBER]
           ,T.[STORE_FRIENDLY_NAME]           = S.[STORE_FRIENDLY_NAME]
           ,T.[STORE_CITY_NAME]           = S.[STORE_CITY_NAME]
           ,T.[STORE_LATITUDE]           = S.[STORE_LATITUDE]
           ,T.[STORE_LONGITUDE]           = S.[STORE_LONGITUDE]
           ,T.[STORE_LOCATION]           = S.[STORE_LOCATION]
           ,T.[SDM_ORDER_ID]           = S.[SDM_ORDER_ID]
           ,T.[SDM_ORDER_STATUS]           = S.[SDM_ORDER_STATUS]
           ,T.[SYSTEM_USER_ORDER_ID]           = S.[SYSTEM_USER_ORDER_ID]
           ,T.[STORE_OPENING_DATE]           = S.[STORE_OPENING_DATE]
           ,T.[Region]           = S.[Region]
           ,T.[CHANNEL]           = S.[CHANNEL]

WHEN NOT MATCHED 
   THEN INSERT values (S.[BRAND]
   ,S.ENTRYID
           , S.[STORE_ID]
           , S.[STORE_NAME]
           , S.[DOB]
           , S.[ORDER_TIME]
           , S.[ORDER_TIME (12_HOURS_SYSTEM)]
           , S.[ORDER_MODE]
           , S.[ORDER_TYPE]
           , S.[PRODUCT_CATEGORY]
           , S.[PRODUCT_ID]
           , S.[MODIFIER_ITEM_ID]
           , S.[MODIFIER_ITEM_NAME]
           , S.[PRODUCT_NAME]
           , S.[BASE_QUANTITY]
           , S.[ACTUAL_QUANTITY]
           , S.[BASE_PRICE]
           , S.[BASE_NET_PRICE]
           , S.[VAT]
           , S.[ACTUAL_PRICE]
           , S.[TOTAL]
           , S.[NET_TOTAL]
           , S.[TRANSACTION]
           , S.[CHECK_ID]
           , S.[LAST_DOB]
           , S.[TOTAL_ACTUAL_IDEAL_COST]
           , S.[CUSTOMER_NAME]
           , S.[CUSTOMER_PHONE_NUMBER]
           , S.[STORE_FRIENDLY_NAME]
           , S.[STORE_CITY_NAME]
           , S.[STORE_LATITUDE]
           , S.[STORE_LONGITUDE]
           , S.[STORE_LOCATION]
           , S.[SDM_ORDER_ID]
           , S.[SDM_ORDER_STATUS]
           , S.[SYSTEM_USER_ORDER_ID]
           , S.[STORE_OPENING_DATE]
           , S.[Region]
           , S.[CHANNEL]
);

END
else
BEGIN

BEGIN -- DISABLE INDEX
ALTER INDEX [NonClusteredIndex-BRAND] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] DISABLE
ALTER INDEX  [NonClusteredIndex-DOB] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] DISABLE
ALTER INDEX  [NonClusteredIndex-STORE_ID] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] DISABLE
ALTER INDEX  [NonClusteredIndex-STORE_NAME] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] DISABLE
ALTER INDEX  [NonClusteredIndex-ENTRYID] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] DISABLE
END

BEGIN -- Insert data IN
set @query = CONCAT('INSERT INTO EDSS_SDM_ProducT_Mix_TBL   ',@query);
EXECUTE ( @query);

END
BEGIN --REBUILD INDEX
ALTER INDEX [NonClusteredIndex-BRAND] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] REBUILD
ALTER INDEX  [NonClusteredIndex-DOB] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] REBUILD
ALTER INDEX  [NonClusteredIndex-STORE_ID] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] REBUILD
ALTER INDEX  [NonClusteredIndex-STORE_NAME] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] REBUILD
ALTER INDEX  [NonClusteredIndex-ENTRYID] ON [dbo].[EDSS_SDM_PRODUCT_MIX_TBL] REBUILD
END
END

END try
BEGIN CATCH
INSERT INTO [Config_db].[dbo].[ERROR_LOG]
           ([DATE]
           ,[ERROR_NUMBER]
           ,[ERROR_STATE]
           ,[ERROR_SEVERITY]
           ,[ERROR_LINE]
           ,[ERROR_PROCEDURE]
           ,[ERROR_MESSAGE]
           ,[SP_NAME])
     VALUES
           (getdate()
           ,ERROR_NUMBER()
           ,ERROR_STATE()
           ,ERROR_SEVERITY()
           ,ERROR_LINE()
           ,ERROR_PROCEDURE()
           ,ERROR_MESSAGE()
           ,OBJECT_NAME(@@PROCID))
select * from [GOTO_ERROR_LOG_TABLE_IN_Config_db]
END CATCH

END

