USE [EDSS]
GO
/****** Object:  StoredProcedure [dbo].[EDSS_SDM_SalesByTender_V2_SP]    Script Date: 1/26/2021 1:35:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[EDSS_SDM_SalesByTender_V2_SP]
	 
AS
BEGIN
BEGIN TRY
BEGIN -- region declaration
DECLARE @MAX_date datetime,
@GetDay int =0,
	  @query nvarchar(max);
	  set @GetDay = (SELECT [No_Days] FROM [Config_db].[dbo].[Decremental_Day_SP_Table] where ID =14);
set @MAX_date  = DATEADD(day , @GetDay*(-1) ,(select  max([DOB]) from EDSS_SDM_SalesByTender_V2)) ;

select * into  #CC_HIST_ORDER_NOTE FROM [192.168.200.12].[SDM].[dbo].CC_HIST_ORDER_NOTE;
CREATE NONCLUSTERED INDEX IX_11 ON #CC_HIST_ORDER_NOTE (NT_ORDERID,NT_FREE_TEXT);

select * into  #CC_HIST_ORDER_PAYMENT FROM [192.168.200.12].[SDM].[dbo].CC_HIST_ORDER_PAYMENT;
CREATE NONCLUSTERED INDEX IX_12 ON #CC_HIST_ORDER_PAYMENT (PAY_ORDRID,PAY_STORE_TENDERID);

select * into  #SDMStores FROM [192.168.200.12].[SDM].[dbo].[SDMStores];
CREATE NONCLUSTERED INDEX IX_16 ON #SDMStores (StoreNumber);

select * into #CR_EMPLOYEE  FROM [192.168.0.5].[EDSS].[dbo].[CR_EMPLOYEE];
CREATE NONCLUSTERED INDEX IX_13 ON #CR_EMPLOYEE ([EMP_BRAND],[EMP_ID]);

select * into #CR_STORE  FROM [192.168.0.5].[EDSS].[dbo].[CR_STORE];
CREATE NONCLUSTERED INDEX IX_14 ON #CR_STORE (STR_NO);

select * into #CR_TDRTYPE  FROM [192.168.0.5].[EDSS].[dbo].[CR_TDRTYPE];
CREATE NONCLUSTERED INDEX IX_15 ON #CR_TDRTYPE (TDRT_BRAND,TDRT_ID);


CREATE TABLE #EDSS_SDM_SalesByTender_V2(
[REC_ID] int Primary Key,
[STORE_ID] int null
,[COMPANY] int null
,[BRAND] int null
,[STORE_NAME] nvarchar(50) null
,[DOB] datetime null
,[CHECK_ID] int null
,[PAYMENT_METHOD] nvarchar(20) null
,[SDM_FIRST_AMOUNT] float null
,[PAYMENT_AMOUNT] float null
,[SDM_FIRST_PAYMENT_NET_AMOUNT] float null
,[PAYMENT_NET_AMOUNT] float null
,[SDM_LAST_AMOUNT] float null
,[SDM_LAST_NET_AMOUNT] float null
,[AMOUNT_MISMATCH_REASON] varchar(44) null
,[ORDER_TYPE] varchar(4) null
,[EMPLOYEE] nvarchar(84) null
,[ORDER_TIME] varchar(41) null
,[SDM_PAYMENT_METHOD] varchar(50) null
,[CUSTOMER_NAME] varchar(101) null
,[CUSTOMER_PHONE_NUMBER] varchar(51) null
,[STORE_FRIENDLY_NAME] varchar(100) null
,[STORE_CITY_NAME] varchar(100) null
,[STORE_LATITUDE] varchar(100) null
,[STORE_LONGITUDE] varchar(100) null
,[STORE_LOCATION] varchar(201) null
,[SDM_ORDER_ID] numeric null
,[ORDER_SOURCE] varchar(100) null
,[SDM_ORDER_STATUS] varchar(100) null
,[SYSTEM_USER_ORDER_ID] varchar(1000) null
,[STORE_OPENING_DATE] datetime null
,[Region] varchar(50) null
,[eWallet_Recharge_Amount] numeric null
,[eWallet_Refund_Amount] numeric null
,[eWallet_CashBack_Amount] numeric null
,[MOBILE_CREDIT_AMOUNT] float null
)
set @query = ' SELECT [REC_ID],
TDR_STR_ID STORE_ID,
STR_COMPANY AS COMPANY,
STR_BRAND AS BRAND,
STR_NAME AS STORE_NAME,
TDR_DOB DOB,
TDR_CHECK CHECK_ID,
CASE when convert(char(32),TDR_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN (CASE WHEN SDM_ORDER_SOURCE = 1 AND (ORDR_PAYMENTMOTHOD IS NOT NULL) THEN ''CALLCENTER'' ELSE (SELECT TDRT_NAME FROM #CR_TDRTYPE WHERE TDRT_BRAND = 1 AND TDRT_ID = (CASE WHEN ORDR_PAYMENTMOTHOD IS NULL AND SDM_ORDER_SOURCE =5 THEN 26 WHEN ((ORDR_PAYMENTMOTHOD IS NULL) OR (ORDR_PAYMENTMOTHOD=''Online'')) AND SDM_ORDER_SOURCE =2 THEN 21 
WHEN SDM_ORDER_SOURCE = 1 AND (ORDR_PAYMENTMOTHOD IS NULL) AND (( SELECT TOP 1 NT_ORDERID FROM #CC_HIST_ORDER_NOTE WHERE SDM_ORDER_ID = NT_ORDERID AND NT_FREE_TEXT like ''%HS_Order_ID%'') IS NOT NULL ) THEN 26
ELSE (SELECT case when PAY_STORE_TENDERID = 8 then PAY_SUB_TYPE else PAY_STORE_TENDERID end  FROM #CC_HIST_ORDER_PAYMENT WHERE PAY_ORDRID = SDM_ORDER_ID) END)) END) ELSE TDRT_NAME END AS [PAYMENT_METHOD],

case when convert(char(32),TDR_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN SDM_FIRST_AMOUNT
ELSE TDR_AMOUNT END AS SDM_FIRST_AMOUNT,

TDR_AMOUNT AS PAYMENT_AMOUNT,

CASE WHEN convert(char(32),TDR_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN (SDM_FIRST_AMOUNT - (round(((SDM_FIRST_AMOUNT/1.05)*0.05),2))) ELSE
(CASE WHEN YEAR(TDR_DOB) > 2017 THEN ((TDR_AMOUNT)-(round(((TDR_AMOUNT/1.05)*0.05),2))) ELSE TDR_AMOUNT END) END AS [SDM_FIRST_PAYMENT_NET_AMOUNT],

(CASE WHEN YEAR(TDR_DOB) > 2017 THEN ((TDR_AMOUNT)-(round(((TDR_AMOUNT/1.05)*0.05),2))) ELSE TDR_AMOUNT END) AS PAYMENT_NET_AMOUNT,

CASE when convert(char(32),TDR_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN SDM_LAST_AMOUNT ELSE TDR_AMOUNT END AS SDM_LAST_AMOUNT,

CASE when convert(char(32),TDR_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN (SDM_LAST_AMOUNT - (round(((SDM_LAST_AMOUNT/1.05)*0.05),2))) ELSE
(CASE WHEN YEAR(TDR_DOB) > 2017 THEN ((TDR_AMOUNT)-(round(((TDR_AMOUNT/1.05)*0.05),2))) ELSE TDR_AMOUNT END) END AS SDM_LAST_NET_AMOUNT,
CASE when convert(char(32),TDR_CHECK) like ''8%'' AND ORDER_SOURCE IS NOT NULL THEN
(CASE WHEN SDM_FIRST_AMOUNT > SDM_LAST_AMOUNT THEN ''SOME ITEMS MIGHT BE VOIDED OR PRICE MISMATCH''
WHEN SDM_FIRST_AMOUNT < SDM_LAST_AMOUNT THEN ''SOME ITEMS MIGHT BE ADDED OR PRICE MISMATCH''
ELSE ''Equal'' END)
ELSE '''' END AS AMOUNT_MISMATCH_REASON,
CASE when convert(char(32),TDR_CHECK) like ''8%'' THEN ''SDM'' ELSE ''EDSS'' END AS ORDER_TYPE,
(CONCAT(TDR_EMPLOYEE,''-'',CONCAT(RTRIM(LTRIM(FIRSTNAME)),'' '',RTRIM(LTRIM(LASTNAME))))) AS EMPLOYEE,
CAST((TDR_HOUR) AS  varchar(20)) + '':'' + CAST((TDR_MIN) AS varchar(20)) as ORDER_TIME,
isnull((ORDR_PAYMENTMOTHOD),'''')  AS SDM_PAYMENT_METHOD,
isnull((odr.Customer_Name),'''') AS CUSTOMER_NAME,
isnull((odr.Customer_Mobile),'''') AS CUSTOMER_PHONE_NUMBER,
isnull((stores.Entry),'''') AS STORE_FRIENDLY_NAME,
isnull((stores.CityName),'''') AS STORE_CITY_NAME,
isnull((stores.Latitude),'''') AS STORE_LATITUDE,
isnull((stores.Longitude),'''') AS  STORE_LONGITUDE,
isnull((stores.Longitude + '','' + stores.Latitude),'''') AS  STORE_LOCATION,
ISNULL((SDM_ORDER_ID),0) AS SDM_ORDER_ID,
ISNULL((ORDER_SOURCE),'''') AS ORDER_SOURCE,
ISNULL((STATUS_NAME),'''') AS SDM_ORDER_STATUS,
ISNULL((SYSTEM_USER_ORDER_ID),'''') AS SYSTEM_USER_ORDER_ID,
(STR_OPENING_DATE)  as STORE_OPENING_DATE,
ISNULL((ProvinceName),'''') AS Region,
ISNULL(([eWallet_Recharge_Amount]),0.0) AS [eWallet_Recharge_Amount],
ISNULL(([eWallet_Refund_Amount]),0.0) AS [eWallet_Refund_Amount],
ISNULL(([eWallet_CashBack_Amount]),0.0) AS [eWallet_CashBack_Amount],
CASE WHEN SDM_ORDER_SOURCE = 2 THEN (TDR_AMOUNT) - ((ISNULL(([eWallet_Recharge_Amount]),0.0)) + (ISNULL(([eWallet_Refund_Amount]),0.0)) + (ISNULL(([eWallet_CashBack_Amount]),0.0)))ELSE 0.0 END as MOBILE_CREDIT_AMOUNT
FROM CR_GNDTNDR GND
LEFT JOIN #CR_STORE ON STR_BRAND = GND.TDR_BRAND AND STR_NO = TDR_STR_ID AND 1=1
LEFT JOIN #CR_TDRTYPE ON TDRT_BRAND = 1 AND TDRT_ID = TDR_TYPEID 
LEFT JOIN #CR_EMPLOYEE ON TDRT_BRAND= [EMP_BRAND] AND [EMP_ID]=TDR_EMPLOYEE 
LEFT JOIN #SDMStores stores ON stores.StoreNumber = GND.TDR_STR_ID
LEFT JOIN (select *,row_number() over(partition by SDM_DOB,STORE_NUM,ALOHA_CHECKNO order by [SDM_ORDER_ID] desc) as rn 
  from  [SDM].[dbo].[ALL_SDM_HIST_ORDERS]) odr ON odr.SDM_DOB = TDR_DOB AND ODR.STORE_NUM = GND.TDR_STR_ID AND odr.ALOHA_CHECKNO = TDR_CHECK AND rn = 1

WHERE TDR_type =1 and STR_NO not in (999,9999) ';
END

if (select count(1) from EDSS_SDM_SalesByTender_V2) > 0
BEGIN
set @query = CONCAT('insert into #EDSS_SDM_SalesByTender_V2  ',REPLACE(@query, '1=1',CONCAT( ' TDR_DOB > ''', @MAX_date,''' ')));
EXECUTE ( @query);

MERGE EDSS_SDM_SalesByTender_V2 AS T
USING #EDSS_SDM_SalesByTender_V2 AS S
ON ( T.[REC_ID]=S.[REC_ID] )
WHEN MATCHED 
   THEN UPDATE 
   SET 
   T.[REC_ID] = S.[REC_ID]
   ,T.[STORE_ID]=S.[STORE_ID]
, T.[COMPANY]=S.[COMPANY]
, T.[BRAND]=S.[BRAND]
, T.[STORE_NAME]=S.[STORE_NAME]
, T.[DOB]=S.[DOB]
, T.[CHECK_ID]=S.[CHECK_ID]
, T.[PAYMENT_METHOD]=S.[PAYMENT_METHOD]
, T.[SDM_FIRST_AMOUNT]=S.[SDM_FIRST_AMOUNT]
, T.[PAYMENT_AMOUNT]=S.[PAYMENT_AMOUNT]
, T.[SDM_FIRST_PAYMENT_NET_AMOUNT]=S.[SDM_FIRST_PAYMENT_NET_AMOUNT]
, T.[PAYMENT_NET_AMOUNT]=S.[PAYMENT_NET_AMOUNT]
, T.[SDM_LAST_AMOUNT]=S.[SDM_LAST_AMOUNT]
, T.[SDM_LAST_NET_AMOUNT]=S.[SDM_LAST_NET_AMOUNT]
, T.[AMOUNT_MISMATCH_REASON]=S.[AMOUNT_MISMATCH_REASON]
, T.[ORDER_TYPE]=S.[ORDER_TYPE]
, T.[EMPLOYEE]=S.[EMPLOYEE]
, T.[ORDER_TIME]=S.[ORDER_TIME]
, T.[SDM_PAYMENT_METHOD]=S.[SDM_PAYMENT_METHOD]
, T.[CUSTOMER_NAME]=S.[CUSTOMER_NAME]
, T.[CUSTOMER_PHONE_NUMBER]=S.[CUSTOMER_PHONE_NUMBER]
, T.[STORE_FRIENDLY_NAME]=S.[STORE_FRIENDLY_NAME]
, T.[STORE_CITY_NAME]=S.[STORE_CITY_NAME]
, T.[STORE_LATITUDE]=S.[STORE_LATITUDE]
, T.[STORE_LONGITUDE]=S.[STORE_LONGITUDE]
, T.[STORE_LOCATION]=S.[STORE_LOCATION]
, T.[SDM_ORDER_ID]=S.[SDM_ORDER_ID]
, T.[ORDER_SOURCE]=S.[ORDER_SOURCE]
, T.[SDM_ORDER_STATUS]=S.[SDM_ORDER_STATUS]
, T.[SYSTEM_USER_ORDER_ID]=S.[SYSTEM_USER_ORDER_ID]
, T.[STORE_OPENING_DATE]=S.[STORE_OPENING_DATE]
, T.[Region]=S.[Region]
, T.[eWallet_Recharge_Amount]=S.[eWallet_Recharge_Amount]
, T.[eWallet_Refund_Amount]=S.[eWallet_Refund_Amount]
, T.[eWallet_CashBack_Amount]=S.[eWallet_CashBack_Amount]
, T.[MOBILE_CREDIT_AMOUNT]=S.[MOBILE_CREDIT_AMOUNT]
WHEN NOT MATCHED BY TARGET
   THEN INSERT values (
   S.[REC_ID]
      ,S.[STORE_ID]
,S.[COMPANY]
,S.[BRAND]
,S.[STORE_NAME]
,S.[DOB]
,S.[CHECK_ID]
,S.[PAYMENT_METHOD]
,S.[SDM_FIRST_AMOUNT]
,S.[PAYMENT_AMOUNT]
,S.[SDM_FIRST_PAYMENT_NET_AMOUNT]
,S.[PAYMENT_NET_AMOUNT]
,S.[SDM_LAST_AMOUNT]
,S.[SDM_LAST_NET_AMOUNT]
,S.[AMOUNT_MISMATCH_REASON]
,S.[ORDER_TYPE]
,S.[EMPLOYEE]
,S.[ORDER_TIME]
,S.[SDM_PAYMENT_METHOD]
,S.[CUSTOMER_NAME]
,S.[CUSTOMER_PHONE_NUMBER]
,S.[STORE_FRIENDLY_NAME]
,S.[STORE_CITY_NAME]
,S.[STORE_LATITUDE]
,S.[STORE_LONGITUDE]
,S.[STORE_LOCATION]
,S.[SDM_ORDER_ID]
,S.[ORDER_SOURCE]
,S.[SDM_ORDER_STATUS]
,S.[SYSTEM_USER_ORDER_ID]
,S.[STORE_OPENING_DATE]
,S.[Region]
,S.[eWallet_Recharge_Amount]
,S.[eWallet_Refund_Amount]
,S.[eWallet_CashBack_Amount]
,S.[MOBILE_CREDIT_AMOUNT])
WHEN NOT MATCHED BY SOURCE AND T.[DOB] > cast(@MAX_date as date)
THEN DELETE ;

END
else
BEGIN

BEGIN -- DISABLE INDEX
ALTER INDEX [NonClusteredIndex-BRAND] ON [dbo].[EDSS_SDM_SalesByTender_V2] DISABLE
ALTER INDEX  [NonClusteredIndex-DOB] ON [dbo].[EDSS_SDM_SalesByTender_V2] DISABLE
ALTER INDEX  [NonClusteredIndex-STORE_NAME] ON [dbo].[EDSS_SDM_SalesByTender_V2] DISABLE
ALTER INDEX  [NonClusteredIndex-COMPANY] ON [dbo].[EDSS_SDM_SalesByTender_V2] DISABLE
ALTER INDEX  [NonClusteredIndex-STORE_ID] ON [dbo].[EDSS_SDM_SalesByTender_V2] DISABLE
END
BEGIN -- Insert data IN
set @query = CONCAT('insert into EDSS_SDM_SalesByTender_V2  ',@query);
EXECUTE ( @query);
END
BEGIN -- ABLE INDEX
ALTER INDEX [NonClusteredIndex-BRAND] ON [dbo].[EDSS_SDM_SalesByTender_V2] rebuild
ALTER INDEX  [NonClusteredIndex-DOB] ON [dbo].[EDSS_SDM_SalesByTender_V2] rebuild
ALTER INDEX  [NonClusteredIndex-STORE_NAME] ON [dbo].[EDSS_SDM_SalesByTender_V2] rebuild
ALTER INDEX  [NonClusteredIndex-COMPANY] ON [dbo].[EDSS_SDM_SalesByTender_V2] rebuild
ALTER INDEX  [NonClusteredIndex-STORE_ID] ON [dbo].[EDSS_SDM_SalesByTender_V2] rebuild
END

END 

END try
BEGIN CATCH
INSERT INTO [Config_db].[dbo].[ERROR_LOG]
           ([DATE]
           ,[ERROR_NUMBER]
           ,[ERROR_STATE]
           ,[ERROR_SEVERITY]
           ,[ERROR_LINE]
           ,[ERROR_PROCEDURE]
           ,[ERROR_MESSAGE]
           ,[SP_NAME])
     VALUES
           (getdate()
           ,ERROR_NUMBER()
           ,ERROR_STATE()
           ,ERROR_SEVERITY()
           ,ERROR_LINE()
           ,ERROR_PROCEDURE()
           ,ERROR_MESSAGE()
           ,OBJECT_NAME(@@PROCID))
select * from [GOTO_ERROR_LOG_TABLE_IN_Config_db]
END CATCH
END


